* {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    position: sticky;
}

.images {
    display: flex;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 5px solid black; */
    justify-content: center;
    flex-wrap: wrap;
}

div.image {
    object-fit: cover;
    cursor: pointer;
    border-radius: 80px;
}

.image-container {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #777;
    text-align: center;
    align-self: center;
}

#image-placeholder span {
    font-size: larger;
    font-weight: bold;
}

.placeholder {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.title {
    padding: 2px;
    font-weight: bold;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

label, input, textarea, form div div {
    display: block;
    width: 300px;
    margin: 0;
    text-align: left;
    padding: 3px;
}

input:active textarea:active {
    border-color: black;
}

#form-title {
    margin-bottom: 3px;
    background-color: black;
    color: #f0f0f0;
    text-align: center;
    padding: 4px;
}

button {
    margin-top: 8px;
    margin-left: 3px;
    padding: 8px;
    background-color: black;
    color: white;
    font-weight: 900;
    width: 300px;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: rgb(157, 156, 156);
}

button:active {
    border-color: white;
}